@model BuscarTurmaViewModel

<head>
  <script href="~/css/Pages/turma.css"></script>
</head>


<form id="buscarTurma">
    <input type="text" placeholder="Nome da Turma" asp-for="Nome">

    <button type="submit" class="btn btn-primary" onclick="turma.buscarTurma()">Buscar</button>
    <a type="button" class="btn btn-primary" asp-controller="turma" asp-action="cadastrar">Cadastrar Nova Turma</a>
</form>

<div id="mostrarTurma">
</div>

<script src="~/js/Pages/turma.js" asp-append-version="true"></script>
<script>
    turma.init({
        urls: {
            buscar: '@Url.Action("buscar", "turma")'
        }
    });
</script>
