@model IEnumerable<Fornecedor>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Fornecedores</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-dark" onclick="fornecedor.buscar()">Buscar Fornecedor</a>
            <a class="btn btn-success" onclick="fornecedor.mostrarViewCadastrar()">Novo Fornecedor</a>
        </div>
    </div>
</div>

<div id="mostrarTabela"></div>
<div id="createTable"></div>

<script src="~/js/Pages/fornecedor.js" asp-append-version="true"></script>
<script>
    fornecedor.init({
        urls: {
            buscar: '@Url.Action("buscar", "fornecedor")',
            cadastrar: '@Url.Action("cadastrar", "fornecedor")',
            deletar: '@Url.Action("deletar", "fornecedor")'
        }
    });
</script>
