@model Aluno
@{
    Layout = null;
}
<h1>Pagina do Cadastrar</h1>

<form id="formCadastrarAluno" onsubmit="aluno.fnCadastrar()">
    <label asp-for="Nome"></label>
    <input type="text" asp-for="Nome" placeholder="Seu nome">

    <label asp-for="Email"></label>
    <input type="text" asp-for="Email" placeholder="Seu email">

    <label asp-for="Turma"></label>
    <input type="text" asp-for="Turma" placeholder="Sua turma">

    <label asp-for="Matricula"></label>
    <input type="text" asp-for="Matricula" placeholder="Sua matricula">

    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
