<h1>Página aluno</h1>

<button type="button" class="btn btn-primary" onclick="aluno.fnMostrarViewCadastrar()">Cadastrar Aluno</button>

<section id="mostrarViewCadastrar"></section>

<script src="~/js/Pages/aluno.js" asp-append-version="true"></script>
<script>
    aluno.init({
        urls: {
            index: '@Url.Action("Index", "Aluno")',
            mostrarViewCadastrar: '@Url.Action("MostrarViewCadastrar", "Aluno")'
        }
    });
</script>
