@model Curso

<div class="cadastrar-container">
    <form id="editaCurso">
        <h1>Edite o curso</h1>
        <input type="hidden" asp-for="Id">
        <label asp-for="Nome"><b>Nome</b></label>
        <input type="text" placeholder="Nome do curso" asp-for="Nome" required>

        <label asp-for="CargaHoraria"><b>Carga Horaria</b></label>
        <input type="text" placeholder="Carga Horaria" asp-for="CargaHoraria" required>

        <label asp-for="Professor"><b>Professor</b></label>
        <input type="text" placeholder="Professor" asp-for="Professor" required>

        <label asp-for="Trilha"><b>Trilha</b></label>
        <input type="text" placeholder="Trilha" asp-for="Trilha" required>

        <button type="submit" class="registerbtn" onclick="curso.editarCurso(Id)">Salvar</button>

    </form>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Pages/curso.js" asp-append-version="true"></script>
<script>
    curso.init({
        urls: {

            editar: '@Url.Action("editar", "curso")'

        }
    });
</script>

