@model Curso

<form id="buscarCurso">
    <input type="text" placeholder="Nome do Curso" asp-for="Nome">

    <button type="submit" class="btn btn-primary" onclick="curso.buscarCurso()">Buscar</button>
    <a type="button" class="btn btn-primary" asp-controller="curso" asp-action="cadastrar">Cadastrar Curso</a>
</form>

<div id="mostrarCursos"></div>
<div id="editarCurso"></div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Pages/curso.js" asp-append-version="true"></script>
<script>
    curso.init({
        urls: {
            buscar: '@Url.Action("buscar", "curso")',
            editar: '@Url.Action("editar", "curso")',
            deletar: '@Url.Action("deletar", "curso")'
        }
    });
</script>
