@model Evento
@{
    Layout = null;
}
<form id="eventoForm">
    <div class="cadastra-form">
        <div class="mb-3">
            <input asp-for="Nome" placeholder="Nome" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Descricao" placeholder="Descrição" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Localizacao" placeholder="Localização" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="PublicoAlvo" placeholder="Público alvo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="ValorIngresso" placeholder="Valor ingresso" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Custo" placeholder="Custo" type="number" class="form-control">
        </div>
        <div class="mb-3">
            @* <select asp-for="Animal.IdEspecie" asp-items="@(new SelectList(Model.Palestrantes,Id","Nome"))")
            class="form-select">
            </select> *@
        </div>
        <button type=" button" class="btn btn-primary" onclick="evento.cadastrar()">Enviar</button>
    </div>
</form>
