@model Evento

<form id="buscarEventoPorNome">
    <input type="text" placeholder="Evento" asp-for="Nome">

    <button type="submit" class="btn btn-primary" onclick="evento.buscarEvento()">Buscar</button>
    <button class="buttons btn btn-primary" onclick="evento.viewCadastrar()">Cadastrar</button>
</form>

<div class="container-busca"></div>
<div class="container-cadastra"></div>
<div class="container-editar"></div>

<script src="~/js/Pages/evento.js" asp-append-version="true"></script>
<script>
    evento.init({
        urls: {
            buscar: '@Url.Action("buscar", "evento")',
            cadastrar: '@Url.Action("cadastrar", "evento")',
            editar: '@Url.Action("editar", "evento")',
            excluir: '@Url.Action("excluir", "evento")'
        }
    });
</script>