@model IEnumerable<Usuario>
@{
  Layout = null;
}

<ul class="list-group mt-4">
  @foreach (var usuario in Model)
  {
    <li class="list-group-item d-flex justify-content-between align-items-center" style="max-width: 50%;">
      <div>@usuario.Nome</div>
      <span class="badge bg-primary rounded-pill">@usuario.Email</span>
      <button type="button" class="btn btn-danger" onclick="usuario.deletarUsuario(@usuario.Id)">Deletar</button>
    </li>
  }
</ul>

 <script src="~/js/Pages/usuario.js" asp-append-version="true"></script>
 <script>
     usuario.init({
      urls: { 
             deletar: '@Url.Action("deletar", "usuario")'
     }
  });
 </script> 
