@model CadastrarUsuarioViewModel;

<div class="cadastrar-container">
  <form id="cadastroUsuario">
      <h1>Crie sua conta</h1>

      <label asp-for="Nome"><b>Nome</b></label>
      <input type="text" placeholder="Seu nome" asp-for="Nome" required>

      <label asp-for="Email"><b>Email</b></label>
      <input type="text" placeholder="Seu Email" asp-for="Email" required>

      <label asp-for="Senha"><b>Senha</b></label>
      <input type="password" placeholder="Escolha uma senha" asp-for="Senha" required>

      <label asp-for="RepetirSenha"><b>Repetir Senha</b></label>
      <input type="password" placeholder="Repita sua senha" asp-for="RepetirSenha" required>

      <button type="submit" class="registerbtn" onclick="usuario.cadastrar()">Registrar</button>
  </form>
    </div>
  <div class="container-entrar">
    <p>Já tem uma conta? <a href="#">Sign in</a>.</p>
</div>

<script src="~/js/Pages/usuario.js" asp-append-version="true"></script>
<script>
    usuario.init({
        urls: {
            buscar: '@Url.Action("buscar", "usuario")',
            cadastrar: '@Url.Action("cadastrar", "usuario")',
            deletar: '@Url.Action("deletar", "usuario")',  
            editar: '@Url.Action("editar", "usuario")'
        }
    });
</script>